<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unihubcrew.unihub.mapper.FavoriteMapper">

    <select id="getAllFavorites" resultType="com.unihubcrew.unihub.model.Favorite">
        SELECT
        favorite_id AS id,
        user_id AS userId,
        resource_id AS resourceId,
        favorite_time AS favoriteTime
        FROM favorites
        WHERE user_id=#{userId}
    </select>

</mapper>
